page-login {
    .logo {
        margin: 30px auto;
        width: 50%;
    }
    .input-box {
        .username {
            border: 1px solid $singha-survey-color-inactive;
            margin: 0 auto 5px auto;
            width: 90%;
            height: 45px;
            .item-inner {
                border-bottom-color: initial !important;
                -webkit-box-shadow: initial !important;
                box-shadow: initial !important;
                border-bottom: initial;
            }
            ion-input {
                input {
                    margin: initial;
                    line-height: 30px;
                }
            }
        }
        .password {
            border: 1px solid $singha-survey-color-inactive;
            margin: 0 auto 5px auto;
            width: 90%;
            height: 45px;
            .item-inner {
                border-bottom-color: initial !important;
                -webkit-box-shadow: initial !important;
                box-shadow: initial !important;
                border-bottom: initial;
            }
            ion-input {
                input {
                    margin: initial;
                    line-height: 30px;
                }
            }
        }
    }
    .text-forget-password {
        text-align: center;
        color: $singha-survey-color-text; // color: $singha-survey-color-gray-text-all;
    }
    .button-box {
        margin: 30px auto;
        width: 15%;
    }
}

.override-modal-forget-password-input {
    ion-backdrop {
        visibility: visible;
    }
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    contain: strict;
    .modal-wrapper {
        &,
        .ion-page,
        .ion-page .content,
        .ion-page .content .scroll-content {
            contain: content;
            position: relative;
            top: auto;
            left: auto;
        }
        z-index: $z-index-overlay-wrapper;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        opacity: 0;
        height: auto;
        max-height: $alert-max-height;
        width: 90%;
        min-width: $alert-min-width; // max-width: $alert-md-max-width;
        max-width: 90%;
        border-radius: $alert-md-border-radius;
        background-color: $alert-md-background-color;
        box-shadow: $alert-md-box-shadow; // .ion-page .content {
        //     background-color: color($colors, primary);
        // }
    }
}
