page-forget-password-input {
    .text-singha {
        padding-left: 10%;
        margin: 20px 0;
    }
    .text-forget {
        padding-left: 10%;
    }
    .input-username {
        padding-left: 10%;
        width: 90%;
        .item-inner {
            border-bottom-color: $singha-survey-color-accent !important;
            -webkit-box-shadow: initial !important;
            box-shadow: initial !important;
            border-bottom: initial;
        }
        ion-input {
            input {
                margin: initial;
                line-height: 30px;
            }
        }
    }
    .text-ok {
        text-align: right;
        padding-right: 10%;
        margin: 20px 0;
        color: $singha-survey-color-accent;
    }
}