shop-add-call-card {
    .wrap-col {
        max-width: 66.6%;
        margin: 0 0 0 auto;
    }
    .item-calendar {
        z-index: 1;
        background-color: transparent;
    }
    .button-calendar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 14px;
        margin: auto 0 auto auto;
        padding: 0;
        z-index: 0;
        font-size: 22px;
        color: $singha-survey-color-primary;
    }
    .wrap-input {
        input {
            margin: 5px 8px;
            line-height: 32px;
        }
    }
    .button-add-input {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 14px;
        margin: auto 0 auto auto;
        padding: 0;
        font-size: 22px;
        color: $singha-survey-color-primary;
    }
    .row-full-size {
        width: 100%;
        .col-sub {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
    .image-shop {
        margin: auto;
        width: auto;
        max-width: 100%;
        height: 100px;
        display: list-item;
    }
    .button-save {
        margin: auto;
        display: flex;
        background-color: $singha-survey-color-gray-3;
        color: $singha-survey-color-primaryDark;
    }
}