page-activity-visit {
    .title {
        text-align: center;
        .toolbar-title {
            font-size: 16px;
        }
    }
    .icon-size {
        font-size: 20px !important;
    }
    .box-detail-activity {
        padding: 16px;
        .text-title {
            font-size: 16px;
        }
        .required {
            color: $singha-survey-color-red;
            margin-left: 2px;
        }
        .button-reload-location {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 14px;
            margin: auto 0 auto auto;
            padding: 0;
            font-size: 22px;
            color: $singha-survey-color-primary;
        }
        .wrap-col {
            max-width: 75%;
            margin: 0 0 0 auto;
        }
        .wrap-input {
            input {
                margin: 5px 8px;
                line-height: 32px;
            }
        }
        .wrap-list {
            margin: 0;
            .item {
                .item-inner {
                    border-bottom: 1px solid #dedede !important;
                    .input-wrapper {
                        .label {
                            margin: 13px 8px;
                        }
                    }
                }
            }
        }
        .line-top-row {
            border-top: 1px solid #dedede;
        }
        .item-checkbox {
            .checkbox {
                margin: 9px 4px !important;
            }
            .item-inner {
                padding-right: 0 !important;
                border-bottom: none !important;
            }
        }
        .button-add-input {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 14px;
            margin: auto 0 auto auto;
            padding: 0;
            font-size: 22px;
            color: $singha-survey-color-primary;
        }
        .hide-line-last-item {
            .item {
                .item-inner {
                    border-bottom: initial;
                }
            }
        }
        .row-full-size {
            width: 100%;
            .text-sub-title {
                font-size: 14px;
                margin-bottom: 13px;
            }
            .item-sub-title {
                padding: 0;
            }
            .col-sub {
                padding-left: 12px;
                padding-right: 12px;
                .text-title-sub {
                    font-size: 14px;
                }
                .text-value-sub {
                    font-size: 14px;
                    color: $singha-survey-color-gray-text-all;
                    white-space: normal;
                }
            }
        }
        .item-calendar {
            z-index: 1;
            background-color: transparent;
        }
        .button-calendar {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 14px;
            margin: auto 0 auto auto;
            padding: 0;
            z-index: 0;
            font-size: 22px;
            color: $singha-survey-color-primary;
        }
        .button-save {
            width: 100%;
            background-color: $singha-survey-color-gray-3;
            color: $singha-survey-color-primaryDark;
        }
        .button-cancel {
            width: 100%;
            background-color: $singha-survey-color-gray-3;
            color: $singha-survey-color-primaryDark;
        }
    }
}