<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="backPage()" tappable>
          <ion-icon class="icon-size" name="_icon-back"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title class="title">กิจกรรม</ion-title>
    <ion-buttons right>
      <button icon-only style="background-color:#455A64">
          <ion-icon class="icon-size"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box-detail-activity" *ngIf="visitActivityDetailData">
    <span class="text-title" *ngIf="index == null || index == undefined">เพิ่มกิจกรรม</span>
    <span class="text-title" *ngIf="index != null || index != undefined">แก้ไขกิจกรรม</span>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <p>สถานที่<span class="required">*</span></p>
        </ion-col>
        <ion-col col-9>
          <ion-row>
            <ion-col col-6 class="wrap-col">
              <ion-item class="item-checkbox">
                <ion-label>ในสถานที่</ion-label>
                <ion-checkbox checked="venue.internalPlace" [(ngModel)]="venue.internalPlace" (ngModelChange)="changeVenue('internalPlace')"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col col-6 class="wrap-col">
              <ion-item class="item-checkbox">
                <ion-label>นอกสถานที่</ion-label>
                <ion-checkbox checked="venue.externalPlace" [(ngModel)]="venue.externalPlace" (ngModelChange)="changeVenue('externalPlace')"></ion-checkbox>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="venue.externalPlace">
        <ion-col offset-3>
          <ion-item>
            <ion-input type="text" placeholder="ชื่อสถานที่" class="wrap-input" [(ngModel)]="visitActivityDetailData.venue_name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <p>บริษัท<span class="required">*</span></p>
        </ion-col>
        <ion-col>
          <ion-list class="wrap-list">
            <button ion-item (click)="selectOption('vendor')" tappable>
              <span *ngIf="optionsActivity">{{ optionsActivity.vendor[indexVendor].name }}</span>
            </button>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-auto style="padding-right: 0;">
          <p>ประเภท<span class="required">*</span></p>
        </ion-col>
        <ion-col class="wrap-col">
          <ion-list class="wrap-list">
            <button ion-item (click)="selectOption('tradition_type')" tappable>
              <span *ngIf="optionsActivity">{{ optionsActivity.tradition_type[indexTraditionType].tradition_name }}</span>
            </button>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <p>กลุ่มกิจกรรม</p>
        </ion-col>
        <ion-col>
          <ion-list class="wrap-list">
            <button ion-item (click)="selectOption('activity_master')" tappable>
              <span *ngIf="optionsActivity">{{ optionsActivity.tradition_type[indexTraditionType].activity_master[indexActivityMaster].activity_master_name }}</span>
            </button>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-auto style="padding-right: 0;">
          <p>กิจกรรม</p>
        </ion-col>
        <ion-col class="wrap-col">
          <ion-list class="wrap-list">
            <button ion-item (click)="selectOption('activity')" tappable>
              <span *ngIf="optionsActivity">{{ optionsActivity.tradition_type[indexTraditionType].activity_master[indexActivityMaster].activity[indexActivity].activity_name }}</span>
            </button>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <p>ชื่อกิจกรรม<span class="required">*</span></p>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input type="text" placeholder="ชื่อกิจกรรม" class="wrap-input" [(ngModel)]="visitActivityDetailData.activity_name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <p>ระยะเวลาเริ่ม</p>
        </ion-col>
        <ion-col>
          <ion-item class="item-calendar">
            <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="D MMMM YYYY" max="{{config.maxDate}}" [(ngModel)]="visitActivityDetailData.start_date"></ion-datetime>
          </ion-item>
          <ion-icon name="_icon-calendar" ion-button class="button-calendar"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <p>ระยะเวลาสิ้นสุด</p>
        </ion-col>
        <ion-col>
          <ion-item class="item-calendar">
            <ion-datetime displayFormat="D MMM YYYY" pickerFormat="D MMMM YYYY" max="{{config.maxDate}}" [(ngModel)]="visitActivityDetailData.end_date"></ion-datetime>
          </ion-item>
          <ion-icon name="_icon-calendar" ion-button class="button-calendar"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="line-top-row">
        <ion-col>
          <p>ข้อมูล PG</p>
        </ion-col>
        <ion-col>
          <ion-icon name="_icon-plus" ion-button class="button-add-input" (click)="popupInput('pg')" tappable></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let pg of visitActivityDetailData.pg; let i = index" (click)="actionSheetInList('pg', i)" [ngClass]="{'hide-line-last-item': (visitActivityDetailData.pg.length-1 == i)}"
        tappable>
        <ion-item>
          <ion-row class="row-full-size">
            <ion-col col-6 class="col-sub">
              <span class="text-title-sub">ชื่อ PG</span>
            </ion-col>
            <ion-col col-6 class="col-sub">
              <span class="text-title-sub">เบอร์โทร</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col col-6 class="col-sub">
              <span class="text-value-sub">{{pg.name}}</span>
            </ion-col>
            <ion-col col-6 class="col-sub">
              <span class="text-value-sub">{{pg.tel}}</span>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-row>
      <ion-row class="line-top-row">
        <ion-col>
          <p>ข้อมูลสินค้า</p>
        </ion-col>
        <ion-col>
          <ion-icon name="_icon-plus" ion-button class="button-add-input" (click)="popupInput('sales')" tappable></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let sales of visitActivityDetail.sales; let i = index" (click)="actionSheetInList('sales', i)" [ngClass]="{'hide-line-last-item': (visitActivityDetailData.sales.length-1 == i)}"
        tappable>
        <ion-item>
          <ion-row class="row-full-size">
            <ion-col col-6 class="col-sub">
              <span class="text-title-sub">ยี่ห้อ</span>
            </ion-col>
            <ion-col col-6 class="col-sub">
              <span class="text-title-sub">สินค้า</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col col-6 class="col-sub">
              <span class="text-value-sub">{{sales.product_group.name}}</span>
            </ion-col>
            <ion-col col-6 class="col-sub">
              <span class="text-value-sub">{{sales.product.name}}</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col col-6 class="col-sub">
              <span class="text-title-sub">จำนวน</span>
            </ion-col>
            <ion-col col-6 class="col-sub">
              <span class="text-title-sub">ราคา</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col col-6 class="col-sub">
              <span class="text-value-sub">หน่วยใหญ่: {{sales.unit_qty}} หน่วยย่อย: {{sales.subunit_qty}}</span>
            </ion-col>
            <ion-col col-6 class="col-sub">
              <span class="text-value-sub">หน่วยใหญ่: {{sales.unit_price}} หน่วยย่อย: {{sales.subunit_price}}</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col col-12 class="col-sub">
              <span class="text-title-sub">โปรโมชั่น</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col col-12 class="col-sub">
              <span class="text-value-sub">{{sales.promotion.name}}</span>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-row>
      <ion-row class="line-top-row">
        <ion-col>
          <p>อุปกรณ์ส่งเสริมการขาย</p>
        </ion-col>
        <ion-col>
          <ion-icon name="_icon-plus" ion-button class="button-add-input" (click)="popupInput('equipment')" tappable></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let equipment of visitActivityDetail.equipment; let i = index" (click)="actionSheetInList('equipment', i)"
        [ngClass]="{'hide-line-last-item': (visitActivityDetailData.equipment.length-1 == i)}" tappable>
        <ion-item>
          <ion-row class="row-full-size">
            <ion-col col-6 class="col-sub">
              <span class="text-title-sub">บริษัท</span>
            </ion-col>
            <ion-col col-6 class="col-sub">
              <span class="text-title-sub">ยี่ห้อ</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col col-6 class="col-sub">
              <span class="text-value-sub">{{equipment.product_vendor.name}}</span>
            </ion-col>
            <ion-col col-6 class="col-sub">
              <span class="text-value-sub">{{equipment.product_group.name}}</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col col-6 class="col-sub">
              <span class="text-title-sub">ประเภท</span>
            </ion-col>
            <ion-col col-6 class="col-sub">
              <span class="text-title-sub">จำนวน</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col col-6 class="col-sub">
              <span class="text-value-sub">{{equipment.product.name}}</span>
            </ion-col>
            <ion-col col-6 class="col-sub">
              <span class="text-value-sub">{{equipment.qty}}</span>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-row>
      <ion-row class="line-top-row">
        <ion-col>
          <p>รูปอุปกรณ์ส่งเสริมการขาย</p>
        </ion-col>
        <ion-col>
          <ion-icon name="_icon-plus" ion-button class="button-add-input" (click)="addImage('tool')" tappable></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="visitActivityDetailData.sale_images.length > 0" style="height: 80px; margin-bottom: 19px;">
        <ion-scroll scrollX="true" style="width: 100%; height: 80px;">
          <div style="display: flex">
            <img *ngFor="let saleImages of visitActivityDetailData.sale_images; let i = index" [src]="getImagePath(saleImages)" (click)="viewImage('tool', i)"
              height="80px" width="auto" style="margin: 0 10px;" tappable/>
          </div>
        </ion-scroll>
      </ion-row>
      <ion-row class="line-top-row">
        <ion-col>
          <p>รูปกิจกรรม</p>
        </ion-col>
        <ion-col>
          <ion-icon name="_icon-plus" ion-button class="button-add-input" (click)="addImage('activity')" tappable></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="visitActivityDetailData.images.length > 0" style="height: 80px; margin-bottom: 14px;">
        <ion-scroll scrollX="true" style="width: 100%; height: 80px;">
          <div style="display: flex">
            <img *ngFor="let images of visitActivityDetailData.images; let i = index" [src]="getImagePath(images)" (click)="viewImage('activity', i)"
              height="80px" width="auto" style="margin: 0 10px;" tappable/>
          </div>
        </ion-scroll>
      </ion-row>
      <ion-row>
        <ion-col col-6 style="padding-left: 0;">
          <button ion-button class="button-save" (click)="save()" tappable>บันทึก</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button class="button-cancel" (click)="backPage()" tappable>ยกเลิก</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>