<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="backPage()">
        <ion-icon class="icon-size" name="_icon-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="title">แจ้งเปลี่ยนพื้นที่</ion-title>
    <ion-buttons right>
      <button icon-only style="background-color:#455A64">
        <ion-icon class="icon-size"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box-edit">
    <span class="text-title">แก้ไขผู้ใช้งาน</span>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <p>ผู้ใช้งาน</p>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input type="tel" placeholder="ผู้ใช้งาน" pattern="[0-9]*" [(ngModel)]="profileData.username" disabled class="wrap-input"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <p>เบอร์โทร</p>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input type="tel" placeholder="เบอร์โทร" maxLength="10" pattern="[0-9]*" [(ngModel)]="profileData.mobile" class="wrap-input"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <p>วันที่มีผล</p>
        </ion-col>
        <ion-col>
          <ion-item class="item-calendar">
            <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="D MMMM YYYY" [(ngModel)]="date_change"></ion-datetime>
          </ion-item>
          <ion-icon name="_icon-calendar" ion-button class="button-calendar"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <p>Level</p>
        </ion-col>
        <ion-col>
          <ion-list class="wrap-list" *ngIf="optionUserData">
            <button ion-item (click)="selectOption('level')" tappable>
              {{ optionUserData.level[indexLevel].level_name }}
            </button>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="line-top-row">
        <ion-col>
          <p>เลือกพื้นที่</p>
        </ion-col>
        <ion-col>
          <ion-icon name="_icon-plus" ion-button class="button-add-input" (click)="addArea()" tappable></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <p>จังหวัด</p>
        </ion-col>
        <ion-col>
          <ion-list class="wrap-list" *ngIf="optionUserData">
            <button ion-item (click)="selectOption('province')" tappable>
              {{ optionUserData.province[indexProvince].province_th }}
            </button>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <p>อำเภอ</p>
        </ion-col>
        <ion-col>
          <ion-list class="wrap-list" *ngIf="optionUserData">
            <button ion-item (click)="selectOption('ampher')" tappable>
              {{ optionUserData.province[indexProvince].ampher[indexAmpher].ampher_th }}
            </button>
          </ion-list>
        </ion-col>
      </ion-row>
      <span style="margin-top: 14px; font-weight: bold;">รายการพื้นที่รับผิดชอบ</span>
      <div *ngIf="selectArea.length > 0">
        <div *ngFor="let area of selectArea; let indexProvince = index">
          <p (click)="actionSheetSelectArea('province', indexProvince, 0)" tappable>{{area.province.province_th}}</p>
          <p *ngFor="let ampher of area.province.ampher; let indexAmpher = index" style="font-size: 12px;" (click)="actionSheetSelectArea('ampher', indexProvince, indexAmpher)" tappable>- {{ampher.ampher_th}}</p>
        </div>
      </div>
      <ion-row>
        <ion-col col-12>
          <button ion-button class="button-save" (click)="save()" tappable>บันทึก</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>