<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="backPage()" tappable>
          <ion-icon class="icon-size" name="_icon-back"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title class="title" *ngIf="visitCustomerDetailData">{{visitCustomerDetailData.customer_name}}</ion-title>
    <ion-buttons right>
      <button icon-only style="background-color:#455A64">
          <ion-icon class="icon-size"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="box-detail-visit" *ngIf="visitCustomerDetailData">
    <span class="text-title">แก้ไขข้อมูลการเข้าเยี่ยม</span>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <p>วันที่เข้าเยี่ยม</p>
        </ion-col>
        <ion-col>
          <ion-item class="item-calendar">
            <ion-datetime displayFormat="D MMM YYYY" pickerFormat="D MMMM YYYY" max="{{config.maxDate}}" [(ngModel)]="visitCustomerDetailData.visit_date" disabled></ion-datetime>
          </ion-item>
          <ion-icon name="_icon-calendar" ion-button class="button-calendar"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="line-top-row">
        <ion-col class="col-title">
          <p>รายการกิจกรรม</p>
        </ion-col>
        <ion-col class="col-title">
          <ion-icon name="_icon-plus" ion-button class="button-add-input" (click)="activities(null)" tappable></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let activities of visitCustomerDetailData.activities; let i = index" (click)="actionSheetInActivityList(i)"
        [ngClass]="{'hide-line-last-item': (visitCustomerDetailData.activities.length-1 == i)}" tappable>
        <ion-item class="item-title">
          <ion-row class="row-full-size">
            <ion-col class="col-sub">
              <span class="text-title-sub">กิจกรรม</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col class="col-sub">
              <span class="text-value-sub">{{activities.name}}</span>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-row>
      <ion-row class="line-top-row">
        <p class="text-title-retroact">ยอดสั่งซื้อย้อนหลัง 3 เดือนจากปัจจุบัน</p>
        <ion-row class="row-full-size row-title" *ngFor="let order of visitCustomerDetailData.order">
          <span class="text-sub-title">ปี {{order.year}} เดือน {{order.month}}</span>
          <ion-row class="row-full-size" *ngFor="let value of order.value; let i = index" [ngClass]="{'hide-line-last-item': (order.value.length-1 == i)}"
            tappable>
            <ion-item class="item-sub-title">
              <ion-row class="row-full-size">
                <ion-col col-4 class="col-sub value-row">
                  <span class="text-title-sub">{{value.name}}</span>
                </ion-col>
                <ion-col col-4 class="col-sub value-row">
                  <span class="text-title-sub">ขาย</span>
                </ion-col>
                <ion-col col-4 class="col-sub value-row">
                  <span class="text-value-sub">{{value.qty}}</span>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-row>
        </ion-row>
      </ion-row>
      <!-- <ion-row class="line-top-row">
        <p class="text-title-retroact">ยอดสั่งซื้อย้อนหลัง 3 เดือนจากปัจจุบัน</p>
        <ion-row class="row-full-size row-title" *ngFor="let order of visitCustomerDetailData.order; let indexOrder = index">
          <span class="text-sub-title">ปี {{order.year}} เดือน {{order.month}}</span>
          <ion-row class="row-full-size" *ngFor="let value of visitCustomerDetail.order[indexOrder].value; let i = index" (click)="actionSheetInList('order', i)" [ngClass]="{'hide-line-last-item': (order.value.length-1 == i)}"
            tappable>
            <ion-item class="item-sub-title">
              <span class="text-title-product">{{value.product.product_name}}</span>
              <ion-row class="row-full-size">
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-title-sub">ขาย</span>
                </ion-col>
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-value-sub">{{value.qty}}</span>
                </ion-col>
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-title-sub">ซื้อ</span>
                </ion-col>
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-value-sub">{{value.buy}}</span>
                </ion-col>
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-title-sub">stock</span>
                </ion-col>
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-value-sub">{{value.stock}}</span>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-row>
        </ion-row>
      </ion-row> -->
      <ion-row class="line-top-row">
        <p class="text-title-retroact">ยอดขายสินค้าบุญรอดย้อนหลัง 3 เดือนจากปัจจุบัน</p>
        <ion-row class="row-full-size row-title" *ngFor="let boonrawd of visitCustomerDetailData.sale.boonrawd; let indexBoonrawd = index">
          <span class="text-sub-title">ปี {{boonrawd.year}} เดือน {{boonrawd.month}}</span>
          <ion-icon name="_icon-plus" ion-button class="button-add-input-retroact" *ngIf="boonrawd.status" (click)="popupInput('boonrawd', null, indexBoonrawd)"
            tappable></ion-icon>
          <ion-row class="row-full-size" *ngFor="let value of visitCustomerDetail.boonrawd[indexBoonrawd].value; let i = index" (click)="actionSheetInList('boonrawd', i, indexBoonrawd)"
            [ngClass]="{'hide-line-last-item': (boonrawd.value.length-1 == i)}" tappable>
            <ion-item class="item-sub-title">
              <span class="text-title-product">{{value.product.product_name}}</span>
              <ion-row class="row-full-size">
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-title-sub">ขาย</span>
                </ion-col>
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-value-sub">{{value.qty}}</span>
                </ion-col>
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-title-sub">ซื้อ</span>
                </ion-col>
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-value-sub">{{value.buy}}</span>
                </ion-col>
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-title-sub">stock</span>
                </ion-col>
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-value-sub">{{value.stock}}</span>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-row>
        </ion-row>
      </ion-row>
      <ion-row class="line-top-row">
        <p class="text-title-retroact">ยอดขายสินค้าคู่แข่งย้อนหลัง 3 เดือนจากปัจจุบัน</p>
        <ion-row class="row-full-size row-title" *ngFor="let rival of visitCustomerDetailData.sale.rival; let indexRival = index">
          <span class="text-sub-title">ปี {{rival.year}} เดือน {{rival.month}}</span>
          <ion-icon name="_icon-plus" ion-button class="button-add-input-retroact" *ngIf="rival.status" (click)="popupInput('rival', null, indexRival)"
            tappable></ion-icon>
          <ion-row class="row-full-size" *ngFor="let value of visitCustomerDetail.rival[indexRival].value; let i = index" (click)="actionSheetInList('rival', i, indexRival)"
            [ngClass]="{'hide-line-last-item': (rival.value.length-1 == i)}" tappable>
            <ion-item class="item-sub-title">
              <span class="text-title-product">{{value.product.product_name}}</span>
              <ion-row class="row-full-size">
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-title-sub">ขาย</span>
                </ion-col>
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-value-sub">{{value.qty}}</span>
                </ion-col>
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-title-sub">ซื้อ</span>
                </ion-col>
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-value-sub">{{value.buy}}</span>
                </ion-col>
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-title-sub">stock</span>
                </ion-col>
                <ion-col col-2 class="col-sub value-row">
                  <span class="text-value-sub">{{value.stock}}</span>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-row>
        </ion-row>
      </ion-row>
      <ion-row class="line-top-row">
        <p class="text-title-retroact">แสดงแนบรูปใบเสร็จย้อนหลัง 3 เดือนจากปัจจุบัน</p>
        <ion-row class="row-full-size row-title" *ngFor="let receipt of visitCustomerDetailData.receipt; let indexMonth = index">
          <span class="text-sub-title">ปี {{receipt.year}} เดือน {{receipt.month}}</span>
          <ion-icon name="_icon-plus" ion-button class="button-add-input-retroact" *ngIf="receipt.status" (click)="addImage('receipt', indexMonth)"
            tappable></ion-icon>
          <ion-row *ngIf="receipt.value.length > 0" style="height: 80px; width: 100%; padding-right: 16px;">
            <ion-scroll scrollX="true" style="width: 100%; height: 80px;">
              <div style="display: flex">
                <img *ngFor="let images of receipt.value; let i = index" [src]="getImagePath(images)" (click)="viewImage('receipt', indexMonth, i)"
                  height="80px" width="auto" style="margin: 0 10px;" tappable/>
              </div>
            </ion-scroll>
          </ion-row>
        </ion-row>
      </ion-row>
      <ion-row class="line-top-row">
        <ion-col>
          <p>อุปกรณ์ส่งเสริมการขาย</p>
        </ion-col>
        <ion-col>
          <ion-icon name="_icon-plus" ion-button class="button-add-input" (click)="popupInput('equipment')" tappable></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let equipment of visitCustomerDetail.equipment; let i = index" (click)="actionSheetInList('equipment', i, null)"
        [ngClass]="{'hide-line-last-item': (visitCustomerDetailData.equipment.length-1 == i)}" tappable>
        <ion-item>
          <ion-row class="row-full-size">
            <ion-col col-6 class="col-sub">
              <span class="text-title-sub">บริษัท</span>
            </ion-col>
            <ion-col col-6 class="col-sub">
              <span class="text-title-sub">ยี่ห้อ</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col col-6 class="col-sub">
              <span class="text-value-sub">{{equipment.product_vendor.name}}</span>
            </ion-col>
            <ion-col col-6 class="col-sub">
              <span class="text-value-sub">{{equipment.product_group.name}}</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col col-6 class="col-sub">
              <span class="text-title-sub">ประเภท</span>
            </ion-col>
            <ion-col col-6 class="col-sub">
              <span class="text-title-sub">จำนวน</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col col-6 class="col-sub">
              <span class="text-value-sub">{{equipment.product.name}}</span>
            </ion-col>
            <ion-col col-6 class="col-sub">
              <span class="text-value-sub">{{equipment.qty}}</span>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-row>
      <ion-row class="line-top-row">
        <ion-col>
          <p>รูปอุปกรณ์ส่งเสริมการขาย</p>
        </ion-col>
        <ion-col>
          <ion-icon name="_icon-plus" ion-button class="button-add-input" (click)="addImage('tool', null)" tappable></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="visitCustomerDetailData.images.length > 0" style="height: 80px;">
        <ion-scroll scrollX="true" style="width: 100%; height: 80px;">
          <div style="display: flex">
            <img *ngFor="let images of visitCustomerDetailData.images; let i = index" [src]="getImagePath(images)" (click)="viewImage('tool', null, i)"
              height="80px" width="auto" style="margin: 0 10px;" tappable/>
          </div>
        </ion-scroll>
      </ion-row>
      <ion-row class="line-top-row">
        <ion-col>
          <p>หัวข้อติดตาม</p>
        </ion-col>
        <ion-col>
          <ion-icon name="_icon-plus" ion-button class="button-add-input" (click)="popupInput('note')" tappable></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let note of visitCustomerDetailData.note; let i = index" (click)="actionSheetInList('note', i, null)" [ngClass]="{'hide-line-last-item': (visitCustomerDetailData.note.length-1 == i)}"
        tappable>
        <ion-item>
          <ion-row class="row-full-size">
            <ion-col col-6 class="col-sub">
              <span class="text-title-sub">หัวข้อ</span>
            </ion-col>
            <ion-col col-6 class="col-sub">
              <span class="text-title-sub">สถานะ</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col col-6 class="col-sub">
              <span class="text-value-sub">{{note.title}}</span>
            </ion-col>
            <ion-col col-6 class="col-sub">
              <span *ngIf="note.status == 1" class="text-value-sub">ดำเนินการ</span>
              <span *ngIf="note.status == 2" class="text-value-sub">แล้วเสร็จ</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col class="col-sub">
              <span class="text-title-sub">ระยะเวลา:<span class="text-value-sub value-row">{{note.start_date}} - {{checkNoteEndDate(note.end_date)}}</span></span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col class="col-sub">
              <span class="text-title-sub">รายละเอียด</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col class="col-sub">
              <span class="text-value-sub">{{note.detail}}</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col class="col-sub">
              <span class="text-title-sub">วิธีจัดการ</span>
            </ion-col>
          </ion-row>
          <ion-row class="row-full-size">
            <ion-col class="col-sub">
              <span class="text-value-sub">{{note.howto}}</span>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="note.images.length > 0" style="height: 80px;">
            <ion-scroll scrollX="true" style="width: 100%; height: 80px;">
              <div style="display: flex">
                <img *ngFor="let images of note.images" [src]="getImagePath(images)" height="80px" width="auto" style="margin: 0 10px;" tappable/>
              </div>
            </ion-scroll>
          </ion-row>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <p>หมายเหตุ</p>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input type="text" placeholder="หมายเหตุ" class="wrap-input" [(ngModel)]="visitCustomerDetailData.remark"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 style="padding-left: 0;">
          <button ion-button class="button-save" (click)="save()" tappable>บันทึก</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button class="button-cancel" (click)="backPage()" tappable>ยกเลิก</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>