<ion-content class="wrap-check-name-shop">
  <p class="text-check-name-shop">
    ตรวจสอบชื่อร้าน
    <ion-icon name="_icon-close" ion-button class="button-close" (click)="close()" tappable></ion-icon>
  </p>

  <ion-searchbar placeholder="ชื่อร้านค้า" [(ngModel)]="searchText" [formControl]="searchControl" (ionInput)="onSearchInput()"
    class="search-input-box"></ion-searchbar>

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list class="autocomplete-box" *ngIf="searchText.length >= 3 && list.length != 0">
    <ion-item *ngFor="let ls of list" (click)="selectCustomerList(ls.customers_id)" tappable class="item-autocomplete">
      {{ls.name}}
    </ion-item>
  </ion-list>

  <p *ngIf="list.length == 0 && searchText" class="text-check-name-shop">
    ไม่มีข้อมูล
  </p>

  <div *ngIf="searchText" class="button-box">
    <button ion-button class="button-search" (click)="search()">ค้นหา</button>
  </div>
</ion-content>