<ion-content class="wrap-check-name-shop">
  <p class="text-check-name-shop">
    เลือกรอบ
    <ion-icon name="_icon-close" ion-button class="button-close" (click)="close()" tappable></ion-icon>
  </p>
  <ion-list class="autocomplete-box" *ngIf="list.length != 0">
    <ion-item *ngFor="let ls of list" (click)="selectScheduleList(ls.cycle_id)" tappable class="item-autocomplete">
      {{ls.name}}
    </ion-item>
  </ion-list>
  <p *ngIf="list.length == 0" class="text-check-name-shop">
    ไม่มีข้อมูล
  </p>
</ion-content>