page-select-name-schedule {
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .wrap-check-name-shop {
        border-radius: 5px;
        .text-check-name-shop {
            text-align: center;
            color: $singha-survey-color-text;
            margin: 5% 0;
            .button-close {
                position: absolute;
                right: 15px;
                font-size: 18px;
                color: $singha-survey-color-primary;
            }
        }
        .search-input-box {
            padding: 3% 8%;
            .searchbar-input-container {
                input {
                    border: 1px solid gray;
                    box-shadow: initial;
                    font-size: 14px;
                }
                .searchbar-clear-icon {
                    display: none;
                }
            }
        }
        .autocomplete-box {
            height: 65%;
            max-height: 65%;
            overflow-y: scroll;
            padding: 0 8%;
            ion-list {
                .item-autocomplete {
                    font-size: 14px;
                }
            }
        }
        .button-box {
            position: absolute;
            /* top: 0; */
            bottom: 0;
            right: 0;
            left: 0;
            text-align: center;
            margin-bottom: 10%;
            .button-search {
                background-color: $singha-survey-color-white;
                color: $singha-survey-color-gray-text-all;
            }
        }
    }
}