page-select-name-schedule {
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .wrap-select-name-schedule {
        border-radius: 5px;
        .text-select-name-schedule {
            text-align: center;
            color: $singha-survey-color-text;
            margin: 5% 0;
            .button-close {
                position: absolute;
                right: 15px;
                font-size: 18px;
                color: $singha-survey-color-primary;
            }
        }
        .list-box {
            height: 75%;
            max-height: 75%;
            overflow-y: scroll;
            padding: 0 8%;
            ion-list {
                .item-list {
                    font-size: 14px;
                }
            }
        }
        .hightlight-selected {
            color: #455A64;
        }
        .button-box {
            position: absolute;
            /* top: 0; */
            bottom: 0;
            right: 0;
            left: 0;
            text-align: center;
            margin-bottom: 10%;
            .button-select {
                background-color: $singha-survey-color-white;
                color: $singha-survey-color-gray-text-all;
            }
        }
    }
}