visit-add-retroact {
    .wrap-list {
        margin: 0;
        .item {
            .item-inner {
                border-bottom: 1px solid #dedede !important;
                .input-wrapper {
                    .label {
                        margin: 13px 8px;
                    }
                }
            }
        }
    }
    .button-add {
        background-color: $singha-survey-color-gray-3;
        color: $singha-survey-color-primaryDark;
    }
    .text-product-name {
        margin-bottom: 0;
    }
    .button-remove {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 14px;
        margin: auto 0 auto auto;
        padding: 0;
        font-size: 22px;
        color: $singha-survey-color-primary;
    }
    .wrap-input {
        input {
            margin: 5px 8px;
            line-height: 32px;
        }
    }
}