<div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list class="wrap-list">
          <button ion-item (click)="selectOption('customer_group')">
            <!-- {{ optionChannelCustomer.customer_group[indexCustomerGroup].name }} -->
            {{ product_id }}
          </button>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <p>ขาย</p>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input type="tel" pattern="[0-9]*" placeholder="0" class="wrap-input" [(ngModel)]="qty"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <p>ซื้อ</p>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input type="tel" pattern="[0-9]*" placeholder="0" class="wrap-input" [(ngModel)]="buy"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <p>stock</p>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input type="tel" pattern="[0-9]*" placeholder="0" class="wrap-input" [(ngModel)]="stock"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button ion-button class="button-save" (click)="save()">บันทึก</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>