shop-add-contact {
    .wrap-input {
        input {
            margin: 5px 8px;
            line-height: 32px;
        }
    }
    .wrap-col {
        max-width: 75%;
        margin: 0 0 0 auto;
    }
    .wrap-length {
        position: relative;
        .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
        .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
            border-bottom-color: #dedede;
            -webkit-box-shadow: inset 0 -1px 0 0 transparent;
            box-shadow: inset 0 -1px 0 0 transparent;
        }
        .text-length {
            position: absolute;
            right: 5px;
            z-index: 1;
            color: $singha-survey-color-gray-text-all;
            font-size: 12px;
        }
    }
    .item-calendar {
        z-index: 1;
        background-color: transparent;
    }
    .button-calendar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 14px;
        margin: auto 0 auto auto;
        padding: 0;
        z-index: 0;
        font-size: 22px;
        color: $singha-survey-color-primary;
    }
    .button-save {
        margin: auto;
        display: flex;
        background-color: $singha-survey-color-gray-3;
        color: $singha-survey-color-primaryDark;
    }
}