page-tab-manage-visit {
    .title {
        text-align: center;
        .toolbar-title {
            font-size: 16px;
        }
    }
    .box-manage-visit {
        .text-name {
            font-size: 16px;
            color: $singha-survey-color-primary;
            margin-left: 10px;
        }
        .wrap-start-date {
            .title-start-date {
                font-size: 16px;
                color: $singha-survey-color-primary;
                margin-bottom: 5px;
            }
            .text-start-date {
                font-size: 14px;
                color: $singha-survey-color-primary;
            }
        }
        .wrap-end-date {
            .title-end-date {
                font-size: 16px;
                color: $singha-survey-color-primary;
                margin-bottom: 5px;
            }
            .text-end-date {
                font-size: 14px;
                color: $singha-survey-color-primary;
            }
        }
    }
    .box-data-null {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        .text-null {
            margin: auto;
        }
    }
    .hide-fab {
        display: none;
    }
}

.override-modal-add-schedule {
    ion-backdrop {
        visibility: initial;
    }
    .modal-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 90%;
        height: calc(100% - 40px);
        margin: auto;
    }
}
