page-search-visit {
    .title {
        text-align: center;
        .toolbar-title {
            font-size: 16px;
        }
    }
    .icon-size {
        font-size: 20px !important;
    }
    .wrap-grid {
        padding: 0;
        .row {
            border-bottom: 1px solid black;
            .col {
                padding: 0;
                &.line-col {
                    border-right: 1px solid black;
                }
                .wrap-input {
                    input {
                        margin: 5px 8px;
                        line-height: 32px;
                    }
                }
                .item-calendar {
                    z-index: 1;
                    background-color: transparent;
                }
                .button-calendar {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 14px;
                    margin: auto 0 auto auto;
                    padding: 0;
                    z-index: 0;
                    font-size: 22px;
                    color: $singha-survey-color-primary;
                }
            }
        }
    }

    .box-visit-and-record {
        .box-project-type {
            min-width: auto;
            min-height: auto;
            .wrap-project-type {
                width: 50px;
                height: 50px;
                display: flex;
                border-radius: 5px;
                background-color: gray;
                .type-name {
                    margin: auto;
                    font-size: 28px;
                    color: $singha-survey-color-white;
                }
            }
        }
        .text-created-date {
            font-size: 16px;
            color: $singha-survey-color-gray-text;
        }
        .text-name {
            font-size: 12px;
            color: $singha-survey-color-text;
            white-space: initial;
        }
        .text-group-name {
            font-size: 12px;
            color: $singha-survey-color-text;
            white-space: initial;
        }
        .text-address {
            font-size: 12px;
            color: $singha-survey-color-gray-text-all;
            white-space: initial;
        }
        .wrap-end {
            .wrap-end-top {
                .icon-sale {
                    font-size: 24px;
                    color: $singha-survey-color-inactive;
                }
                .icon-sale-active {
                    font-size: 24px;
                    color: $singha-survey-color-accent;
                }
                .icon-activity {
                    font-size: 24px;
                    color: $singha-survey-color-inactive;
                }
                .icon-activity-active {
                    font-size: 24px;
                    color: $singha-survey-color-accent;
                }
            }
            .wrap-end-bottom {
                .icon-premium {
                    font-size: 24px;
                    color: $singha-survey-color-inactive;
                }
                .icon-premium-active {
                    font-size: 24px;
                    color: $singha-survey-color-accent;
                }
                .icon-tracking {
                    font-size: 24px;
                    color: $singha-survey-color-inactive;
                }
                .icon-tracking-active {
                    font-size: 24px;
                    color: $singha-survey-color-accent;
                }
            }
        }
    }
}

.override-modal-check-name-visit, .override-modal-overview-visit {
    ion-backdrop {
        visibility: initial;
    }
    .modal-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 90%;
        height: calc(100% - 40px);
        margin: auto;
    }
}